EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_replace_me
EXPO_PUBLIC_CONVEX_URL=https://replace-me.convex.cloud
# Set CLERK_WEBHOOK_SECRET in Convex env for https://<deployment>.convex.site/clerk-users-webhook
